body{
    font-family: Arial;
    background:#f4f4f4;
}

.title{
    text-align:center;
}

.product{
    width:300px;
    margin:20px auto;
    padding:20px;
    background:white;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

input{
    width:100%;
    padding:8px;
    margin-top:5px;
    margin-bottom:10px;
}